anyio==4.7.0  # Latest version
APScheduler==3.10.4  # Latest version
attrs==24.2.0  # Latest version
beautifulsoup4==4.12.3  # Latest version
blinker==1.8.2  # Latest version
certifi==2024.8.30  # Latest version
cffi==1.17.1  # Latest version
charset-normalizer==3.4.0  # Latest version
click==8.1.7  # Latest version
cryptography==43.0.3  # Latest version
decorator==5.1.1  # Latest version
defusedxml==0.7.1  # Latest version
Flask==3.0.3  # Latest version
flask-cors==5.0.0  # Latest version
h11==0.14.0  # Latest version
httpcore==1.0.6  # Latest version
httpx==0.27.2  # Latest version
idna==3.10  # Latest version
itsdangerous==2.2.0  # Latest version
Jinja2==3.1.4  # Latest version
MarkupSafe==3.0.2  # Latest version
MouseInfo==0.1.3  # Latest version
olefile==0.47  # Latest version
outcome==1.3.0.post0  # Latest version
packaging==24.2  # Latest version
pillow==11.0.0  # Latest version
PyAutoGUI==0.9.54  # Latest version
pycparser==2.22  # Latest version
PyGetWindow==0.0.9  # Latest version
PyMsgBox==1.0.9  # Latest version
pyperclip==1.9.0  # Latest version
PyRect==0.2.0  # Latest version
PyScreeze==1.0.1  # Latest version
PySocks==1.7.1  # Latest version
python-dotenv==1.0.1  # Latest version
python-telegram-bot==21.6  # Latest version
python3-xlib==0.15  # Latest version
pytube==15.0.0  # Latest version
pytweening==1.2.0  # Latest version
pytz==2024.2  # Latest version
PyVirtualDisplay==3.0  # Latest version
pywhatkit==5.4  # Latest version
requests==2.32.3  # Latest version
selenium==4.26.1  # Latest version
setuptools==75.2.0  # Latest version
six==1.16.0  # Latest version
sniffio==1.3.1  # Latest version
sortedcontainers==2.4.0  # Latest version
soupsieve==2.6  # Latest version
tornado==6.4.1  # Latest version
trio==0.27.0  # Latest version
trio-websocket==0.11.1  # Latest version
typing_extensions==4.12.2  # Latest version
tzlocal==5.2  # Latest version
urllib3==1.26.15  # Latest version
webdriver-manager==4.0.2  # Latest version
websocket-client==1.8.0  # Latest version
Werkzeug==3.1.2  # Latest version
wikipedia==1.4.0  # Latest version
wsproto==1.2.0  # Latest version
gunicorn==23.0.0  # Latest version
